@import '../reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import '../partials/index.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $mainColor;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.bg-glass {
  background: $glassBackground;
}

.radius {
  border-radius: $borderRadius;
}
