<div class="container">
  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog App</h1></a>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>
