.details {
  margin: 0 auto;
  position: relative;
  padding: 20px;
  text-align: center;
}

.details h1 {
  font-size: 32px;
  font-weight: 800;
  margin: 10px 0;
}

.details h4 {
  font-weight: 800;
  margin: 10px 0;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
}
