nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  height: 50px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.site-title {
  display: flex;
  align-items: center;
}