@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './newBlog.css';
@import './nav.css';
@import './blogs.css';
@import './details.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #c0362c;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.bg-glass {
  background: linear-gradient(to right bottom, rgba(255,255,255,.1), rgba(255,255,255,.4));
}
