@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import './reset.css';
@import './newBlog.css';
@import './nav.css';
@import './blogs.css';
@import './details.css';
@import './404.css';
@import './auth.css';

:root {
  --borderRadius: 20px;
  --mainColor: #c0362c;
  --navFontSize: 16px;
  --glassBackground: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.6)
  );
  --boxShadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--mainColor);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.bg-glass {
  background: var(--glassBackground);
}

.radius {
  border-radius: var(--borderRadius);
}
