$boxShadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$borderRadius: 20px;
$mainColor: #c0362c;
$navFontSize: 16px;
$glassBackground: linear-gradient(
  to right bottom,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.6)
);
